# conda create -n l2 python=3.10 -y
# conda activate l2
### cuda available
# conda install pytorch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 pytorch-cuda=11.7 -c pytorch -c nvidia
### cuda not available
# conda install pytorch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 -c pytorch
huggingface-hub==0.17.3
transformers==4.34 
psutil==5.9.8
accelerate==0.24.1
streamlit==1.32.2 
matplotlib==3.8.3 
modelscope==1.9.5
sentencepiece==0.1.99
timm==0.4.12
sentencepiece==0.1.99
markdown2==2.4.10
xlsxwriter==3.1.2
gradio==4.13.0
